menu "MQTT Manager Configuration"

    config LOGGING_TAG
        string "Logging TAG"
        default "MQTT_MANAGER"
        help
            The TAG string that identifies the running logging system.

    config BROKER_URL
        string "Broker URL"
        default "mqtt://broker.mqttdashboard.com"
        help
            URL of the broker to connect to

endmenu